/* .fixed-top */
@import url('https://fonts.googleapis.com/css?family=Raleway');
html,h1, h2, h3, h4, h5, h6, a, q{
  font-family: "Raleway";
}
/* navbar */
.navbar{
  background: #F97300;
}
.nav-link , .navbar-brand{
  color: #f4f4f4;
  cursor: pointer;
}
.nav-link{
  margin-right: 1em ;
}
.nav-link:hover{
  background: #f4f4f4;
  color: #f97300;
}
.navbar-collapse{
  justify-content:
  flex-end;
}
.navbar-toggler{
  background:#fff;
}
/* header */
#header{
  background-image: url('../images/light.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
#header .description{
  position: absolute;
  top: 30%;
  margin: auto;
  padding: 2em;
}
#header .description h1{
  color:#F97300 ;
  font-size: 50px;
}
#header .description p{
  font-size: 20px;
  width: 50%;
  line-height: 1.5;
}
/* about me*/
#about{
  margin: 4em 0;
  padding: 1em;
  position: relative;
}
#about img{
  height: 100%;
  width: 100%;
  border-radius: 50%
}
#about .desc{
  padding: 2em;
  border-left: 2px solid  #F97300;
}
#about .desc h3{
  color: #F97300;
}
#about .desc p{
  line-height: 2;
  color: black;
}
/*Portfolio*/
#portfolio{
  margin: 4em 0;
  position: relative;
}
#portfolio h1{
  color:#F97300;
  margin: 2em;
}
#portfolio img{
  height: 15rem;
  width: 100%;
  margin: 1em;
}
/* contact-form */
#contact-form{
  margin: 6em 0;
  position: relative;
}
#contact-form h1{
  padding:2em 1px;
  color: #F97300;
}
#contact-form .right{
  max-width: 600px;
}
#contact-form .right .btn-secondary{
  background:  #F97300;
  color: #fff;
  border:0;
}
#contact-form .right .form-control::placeholder{
  color: #888;
  font-size: 16px;
}
/* footer */
#footer{
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 30px;
  background: #F97300;
}
#footer a {
  justify-content: space-between;
  color: white;
  font-size: 30px;
}
#footer a:hover {
  color: lightgrey;
}
